POSTGRES_USER=interviewly
POSTGRES_PASSWORD=interviewly
POSTGRES_DB=interviewly
POSTGRES_PORT=5432
API_PORT=8000

# Google OAuth
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# SendGrid Email & OTP
SENDGRID_API_KEY=
SENDGRID_FROM_EMAIL=fuji@mg.fuji.io.vn
SENDGRID_FROM_NAME=FUJI

# Redis
REDIS_PORT=6379
REDIS_URL=redis://localhost:6379/0

# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_URL=
